
/* **********************
       preloder start
  ***********************
*/

.spinner-border {
  width: 4rem !important;
  height: 4rem !important;
  color: white;
  border: .35em solid currentColor;
  border-right-color: #3b3663 !important;
}

.page-preloder {
    background: #00cdcd;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

  }
  .section {
    width: 70%;
    height: 70%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
  }
.end-preloder{
  display: none;
  visibility: hidden;
  z-index: -999;
}

  /* *********************
       preloder end
  **********************
*/